
.nav-link:hover{
    font-weight: bold;
}

#home{
    background-color: #FFC000;
}

#project{
    background-color: #FFC000;
}

.card{
    box-shadow: 3px 3px 5px 0px gray;

}

.mycard  :hover{
    cursor: pointer;
    opacity: 80%;
}

/* .mycard >.card{
    transition: 0.5s ease;
   }

 .mycard >.card :hover{
   transform: scale(1.1);
  } */

  .myprofil{
    text-align: justify;
  }

  .mypost{
    width: 95%;
    max-width: 500px;
    margin: 0px auto 20px auto;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px gray;
    border-radius: 10px;
  }

  i{
    font-size: 25px;
  }

