.card{
    box-shadow: 3px 3px 5px 0px gray;

}

.card  :hover{
    cursor: pointer;
        opacity: 80%;
}

.zoom-in{
    transition: 0.5s ease;
   }

 .zoom-in:hover{
   transform: scale(1.1);
  }

  .myprofil{
    text-align: justify;
    
  }